#btns{
width:15em;
height: 3em;
    background-color: #0d0e27;
    color: lawngreen;
}

#fnam{

    width:20em;
height: 3em;
    background-color: wheat;
    color:blueviolet;
}

#cpa{

    width:15em;
height: 3em;
    background-color: #0d0e27;
    color:skyblue;
}

#snap{

    width: 15em;
    height: 3em;
    background-color: #0d0e27;
    color: skyblue;
}

#cpa, #fnam, #btns, #snap{
border: 1px solid white;
    border-radius: 2em;
    padding: 10px;
    margin: 2em;
}

#output{

    width: 25em;
    height: 30em;

border-radius: 5px;
    box-shadow: 5px 10px 5px grey;
 
}
#results{

   height: 25em;

border-radius: 5px;
    box-shadow: 5px 10px 5px grey;

}
.hideImg{

    display: none;
}
.disImg{

    display: block;
}
.img-log{

  
    height: 100px;
}

